@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "orbitron";
  src: url(/public/fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: "ndot";
  src: url(/public/fonts/Ndot-55.otf);
}

.herotext h1{
  /* font-family: ndot; */
}
.abouthead h1{
  font-family: ndot;
}
.products-wrapper h1,h1{
  font-family: orbitron;
}
.left h1{
  font-family: ndot;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0,0, .4);
  backdrop-filter: blur(10px);
  opacity: 0;
  /* font-family: ndot; */
  /* transition: .8 all ease-in-out; */
}
.herotext h1{
  font-family: orbitron;
}
.slideelem {
  /* background: rgba(225, 225, 224, .1); */
}
.overlay h1{
  /* font-family: ndot; */
}
/* .products-imgs h1{
  font-family: ndot;
} */
/* .overlay:hover{
  opacity: 1;
  transition: .8 all ease-in-out;
} */
/* .product-imgs:hover .product-imgs>img{
  transform: scale(1.4);
} */
 /* .cardimg>h1:hover .cardimg{
  height: 20rem;
 } */

.cardimg{
  filter: grayscale(1);
}

.foottext-wrap span {
  display: inline-block;
}

  @keyframes animate {
    0%,
    100% {
      transform: translate(0 ,10px);
    }
    50% {
      transform: translate(0 ,-10px);
    }
  }

@media(max-width:426px) {
  .mobilefoot{
    display: flex;
  }
}